.body {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  color: #eee;
  font-size: 12px;
  line-height: 29vh;
  background:#000000 url('/img/bg.jpg') top center no-repeat;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.body{
  display: block;
}

.table{
  font-size: 25px;
}

.html{
 display: block;

}
.home {
  /* margin-left: 800px; */
  text-align: center;
  font-size: 26px;
  color: chartreuse;
}

.container-perks {
  display: flex;
  justify-content: space-around
}