.game{
  font-size: 19px;
  text-align: center;
  color: rgb(238, 238, 238);

}

.fonHome {
  margin: 0;
  padding: 0; 
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 280px;
  background:#000000 url('/img/bg.jpg') top center no-repeat;
  font-family: Arial, Helvetica, sans-serif;

}

.fonHome{
  display: block;
}  